fastapi[all]
uvicorn-worker
uvicorn[all]
gunicorn
pydantic
ruff
flake8
pytest
pytest-cov
bandit
sqlalchemy
alembic
psycopg2-binary
python-dotenv
python-logging-loki
pyjwt
polars
prefect
prometheus-client
grafana-api
pipdeptree
httpx
structlog
importlib
rich==13.7.1
python==3.11
starlette
starlette_context
sqlalchemy[asyncio]
